{% extends 'base.html' %}
{% block content %}
<div>
    <h2 style="text-align: center;">
        Today
    </h2>
    <div class="trips">
      <table id="trips_table">
        <tr>
          <th>Name</th>
          <th>Time In</th>
        </tr>
        {% for trip in todays_trips %}
        <tr>
          <td>{{trip.driver}}</td>
          <td>{{trip.time_in|date:"h:iA"}}</td>
          <td><a id="update" href={% url 'update' trip.id %}>Update</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock content %}